<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="tagline">My Math Project</h1>
                <h2>coming soon...</h2>
                <p>like really soon. even sooner than your IB topic deadline.</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <h3>Math Project Ideas &amp; Support</h3>
            <p>Custom generated project ideas. We're launching in a few short days. Stay tuned!</p>
            <% if false %>
            <p>Custom generated project ideas for students and teachers. At My Math Project we help you create a unique and feasible project idea for your math class. From Internal Assessment projects for the IB to final projects for your stats class. You've come to the right place to get customized help.</p>
            <p>Browse the <i>rough ideas</i> section to see some big picture topics for free.</p>
            <p><i>Sign up</i> for an account to get personalized help generating an idea.</p>
            <p><i>Email our team</i> if you need more in-depth help working through tough data analysis and math questions</p>
            <p>
                <%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-default btn-lg centerit"%>
            </p>
            <% end %>
        </div>
    <div class="col-sm-6">
            <h2>Need immediate help?</h2>
            <address>
                <abbr title="Email">E:</abbr> <a href="mailto:mymathprojectinfo@gmail.com">mymathprojectinfo@gmail.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <div class="row">
      <h3></h3>
        <div class="col-sm-4 centerit">
            <img class="img-circle img-responsive img-center" src="/images/landing_page-chalk.png" alt="">
            <h2>IB Math Studies</h2>
            <p>Design a survey, analyze the data!</p>
        </div>
        <div class="col-sm-4 centerit">
            <img class="img-circle img-responsive img-center" src="/images/landing_page-trees.png" alt="">
            <h2>IB Math SL</h2>
            <p>Look for connections from calculus and geometry!</p>
        </div>
        <div class="col-sm-4 centerit">
            <img class="img-circle img-responsive img-center" src="/images/landing_page-vibrant.png" alt="">
            <h2>IB Math HL</h2>
            <p>Connect calculus, statistics and more!</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
              <p>My Math Projects is an independently run service and is not affiliated with the <a href="http://www.ibo.org">IBO</a></br>Copyright &copy; My Math Projects <%= Time.now.year %></p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->
