<% content_for :title do %>About<% end %>
<h3>About My Math Projects</h3>
<p>
This site is a crazy side project I've started as a way to document some of the ideas I have for student-led math projects. As an IB math teacher my students (and a bunch of other teachers' kids) would come to me for ideas. I was never short on thoughts about how to use math in everyday scenarios. My students encouraged me to start sharing these more. So here it is, an attempt at least.
</p>
<% if false %>
  <p>
  This web application was created with
  <%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
  from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
  </p>
<% end %>